
*{
        margin: 0px;
        padding:0px;
        box-sizing: border-box;
        font-family: 'DM Sans', sans-serif;
        }

body{
    height: 90vh;
}
        
.container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1095px;
    margin-top: 15px;
}

.link a{
    padding: 5px 7px;
    margin-top: 100px;
    text-decoration: none;
    color:black;
    
}

.btn button{
    font-size: small;
    background-color: rgb(26,115,232);
    color:cornsilk;
    padding: 10px 20px;
    border-radius: 4px;
    border-style: none;
    margin-bottom:px;
}

.google img{
    display:block;
    margin: 0 auto;
    padding: 15px;
    
}

.search-bar {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: auto;
    border: 1px solid rgb(190, 190, 190);
    padding: 8px;
    border-radius: 30px;
    box-shadow: 3px 4px rgb(245, 245, 245);
}
.content {
    display:flex;
    justify-content: space-between;
    width: 550px;

}

input{
    
    margin-left:10px;
    padding: 0 15px;
    outline: none;
    border-style: hidden;
}

.two_button{
    display: flex;
    justify-content: center;
    align-self: auto;
    margin-top: 30px;
}

button {
    padding: 10px;
    margin : 15px;
    border:hidden;
    outline:none;
    background-color: white;
    box-shadow: 3px 4px rgb(245, 245, 245);
    border-radius: 3px;
}

button:hover{
    cursor:-webkit-grabbing;
    background-color: rgb(247, 243, 243);
    box-shadow: 2px 2px rgb(216, 216, 216);
}

.list{
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin-left: 415px;
    margin-top: 15px;
}

.list a:link{
    text-decoration: none;
    font-size: 0.9rem;
}

.footer{
    background-color: rgb(242,242,242);
    margin-top: 115px;
    height: 10vh;
}

.footer h5{
    margin-bottom: 5px;
    margin-left: 30px;
    padding-top: 3px;
    color :rgb(124,120,122);

}

.footerlist{
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;

}

hr {
    color:rgb(218,220,224);
}

.footerlft a:link{

        text-decoration: none;
        color :rgb(124,120,122);
        font-size: 0.9rem;
        padding: 5px;
}

.footerrgt a:link{

    text-decoration: none;
    color :rgb(124,120,122);
    font-size: 0.9rem;
    padding: 5px;
}